.sidebar{
    display: flex;
    flex-direction: row;
    /* border : 2px solid green; */
    justify-content: space-between;
    height: 100px;
    padding-right: 50px;
    align-items: center;
    padding-left:20px;
    background-color: white;
    color: var(--main-bg-color);
}

.sidebar button{
    color:var(--main-bg-color);
    border-radius: 20px;
    width: 200px;
    height: 45px;
}

.sidebar img{
    height:80px;
    weight:80px;
}