*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-align: center;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --main-bg-color:rgb(179, 114, 45);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-bg-color);
}


